<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Ost Pourpre - {% block title %}Accueil{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/library/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
        <script src="{{ asset('javascript/library/jquery.min.js') }}"></script>
        <script src="{{ asset('javascript/library/bootstrap.bundle.min.js') }}"></script>
    </head>
    <body>
{#        {% block body %}{% endblock %}#}
        <div class="container-fluid">
            <div id="guild-intro" class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">&laquo;&nbsp;Les cloches sonneront de nouveau à Lordaeron&nbsp;&raquo;</h1>
                    <hr class="my-4">
                    <p class="lead">Créée en octobre 2007 sur le serveur Confrérie du Thorium, l'<strong>Ost Pourpre</strong> est une guilde roleplay dont l'objectif est la reconquête du royaume de Lordaeron.</p>
                </div>
                <div class="container text-center">
                    <a
                        class="btn btn-primary btn-lg"
                        target="_blank"
                        href="http://www.raxxon.com/ostpourpre/joomla/index.php/la-guilde/recrutement/35-quelques-conseils-pour-bien-postuler"
                        role="button"
                        >
                        Rejoindre
                    </a>
                </div>
            </div>
        </div>

        <header >
            <nav class="navbar navbar-expand-lg top-navbar navbar-dark bg-primary" data-toggle="sticky-onscroll">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">Ost Pourpre <span class="sr-only">(page courante)</span></a>
                    <button
                        aria-label="Ouvrir le menu"
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#main-horizontal-navbar"
                        aria-controls="main-horizontal-navbar"
                        aria-expanded="false"
                        >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div
                        id="main-horizontal-navbar"
                        class="collapse navbar-collapse justify-content-end"
                        >
                        <ul class="navbar-nav pull-right">
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    id="guildlife-navbar-dropdown"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    >
                                    Vie de la Guilde
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-right"
                                    aria-labelledby="guildlife-navbar-dropdown"
                                    >
                                    <a
                                        class="dropdown-item"
                                        href="{{ path('organisation') }}"
                                        >
                                        Organisation
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="{{ path('lieux-de-vie') }}"
                                        >
                                        Lieux de vie
                                    </a>
                                    <a
                                        class="dropdown-item"
                                        href="#"
                                        >
                                        Évènements
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a
                                        class="dropdown-item"
                                        href="{{ path('on-recherche') }}"
                                        >
                                        On recherche
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="{{ path('ambassade') }}"
                                    >
                                    Ambassade
                                </a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link"
                                    href="#"
                                    >
                                    Gallerie
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>

        </header>

        <footer>
            <nav class="nav justify-content-center nav-justified">
                <a
                    class="nav-item nav-link"
                    target="_blank"
                    href="http://www.raxxon.com/ostpourpre/joomla/index.php/la-guilde/29-qui-sommes-nous"
                    >
                    À propos
                </a>
                <a
                    class="nav-item nav-link"
                    target="_blank"
                    href="https://www.gnu.org/licenses/agpl-3.0.en.html"
                    >
                    Ce site est réalisé sous Licence AGPL V3
                </a>
                <a 
                    class="nav-item nav-link"
                    target="_blank"
                    href="https://github.com/Parmifer/OstPourpre"
                    >
                    Voir le code source
                </a>
            </nav>
        </footer>

        <script src="{{ asset('javascript/base.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
