{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="guilde-intro-longue" class="container-fluid">
        <div class="container">
            <div class="container parchemin">
                <p class="lead">Créée en octobre 2007 sur le serveur Confrérie du Thorium, l'<strong>Ost&nbsp;Pourpre</strong> est une guilde roleplay dont l'objectif est la reconquête du royaume de Lordaeron et de l’ensemble des royaumes du Nord.</p>
                <p class="lead">En jeu, vous pouvez nous retrouver à la Main de Tyr, dans les Maleterres de l’Est, un endroit que nous avons baptisé, non sans symbolique, le « Beffroi du Nord ».</p>
                <p class="lead">Sur ce site, vous pourrez découvrir notre organisation, les fiches personnages de nos membres (à venir), le plan de notre quartier général, nos ambassades et, bien entendu, notre actualité (à venir) !</p>
                <p class="lead">Vous aurez également accès à notre forum, sur lequel nous avons pris l’habitude de rassembler tous nos échanges sur les parties de jeu de rôle en cours et de mettre au point nos futurs évènements – sans oublier, évidemment, les actes de candidature !</p>
                <p class="lead">Au plaisir de vous retrouver prochainement, en jeu ou sur notre forum.</p>
            </div>
        </div>
    </div>

    <div class="separator-md"></div>

    <div id="cartes-principales-activites" class="container-fluid">
        <div class="card-deck">
            <div class="card col-md-6 ml-5 mr-4">
                <img class="card-img-top" src="{{ asset('images/icons/hierarchie.svg') }}" alt="Card image cap">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title text-center">Organisation</h4>
                    <p class="card-text text-justify">
                        L'<strong>Ost Pourpre</strong> est une or&shy;ga&shy;ni&shy;sa&shy;tion mi&shy;li&shy;taire.
                    </p>
                    <p class="card-text text-justify">
                        En ce sens, elle est sou&shy;mi&shy;se à une hié&shy;rar&shy;chie bien éta&shy;blie et à une stricte dis&shy;ci&shy;pli&shy;ne, qui lui per&shy;met&shy;tent de struc&shy;tu&shy;rer son action sur tous les champs de ba&shy;taille d'Azeroth, mais é&shy;ga&shy;le&shy;ment au Beffroi du Nord, son quar&shy;ti&shy;er gé&shy;né&shy;ral dans les Male&shy;terres de l’Est.
                    </p>
                    <a href="{{ path('organisation') }}" class="btn btn-primary mt-auto">En apprendre plus</a>
                </div>
            </div>
            <div class="card col-md-6 ml-5 mr-5">
                <img class="card-img-top" src="{{ asset('images/icons/garnison.svg') }}" alt="Card image cap">
                <div class="card-body text-center d-flex flex-column">
                    <h4 class="card-title text-center">Lieu de vie</h4>                    
                    <p class="card-text text-justify">
                        TEXTE A DEFINIR
                    </p>
                    <a href="{{ path('lieux-de-vie') }}" class="btn btn-primary mt-auto">En apprendre plus</a>
                </div>
            </div>
            <div class="card col-md-6 ml-4 mr-5">
                <img class="card-img-top" src="{{ asset('images/icons/tableau.svg') }}" alt="Card image cap">
                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title text-center">On recherche</h5>
                    <p class="card-text text-justify">
                        Dans la salle com&shy;mune, à la vue de tous les ha&shy;bi&shy;tants de la Garnison, se trou&shy;ve un fa&shy;meux ta&shy;bleau d'af&shy;fi&shy;cha&shy;ge qui per&shy;met à la di&shy;rec&shy;tion de l'or&shy;dre de trans&shy;met&shy;tre les in&shy;for&shy;ma&shy;tions offi&shy;cielles et autres notes de service.
                    </p>
                    <p class="card-text text-justify">
                        Il s'y trouve éga&shy;le&shy;ment un encart spé&shy;ci&shy;fi&shy;que portant un nom re&shy;la&shy;ti&shy;ve&shy;ment clair pour qui a de bon&shy;nes no&shy;tions de com&shy;mun&nbsp;:
                    </p>
                    <p class="card-text text-center">
                        &laquo;&nbsp;Bourse à l'Emploi&nbsp;&raquo;
                    </p>
                    <a href="{{ path('on-recherche') }}" class="btn btn-primary mt-auto">S'engager</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/accueil.css') }}">
{% endblock %}
